body{margin:0px;padding:0px;outline: 0px;}
#maincontainer{height:1000px;width: 1100px;background-color: skyblue;margin:0 auto;}
#container1{width:1100px;height:40px;background-color: rgb(5, 5, 65);}
.one{float:left;color:white;font-size: 16px;margin:10px 0px 10px 40px;}
.two{float:left;color:white;font-size: 16px;margin:10px 20px;}
.three{float:right;margin:10px;}
#container1 i{color:rgb(250, 251, 252);font-size: 20px;margin:0px 10px;}
#container2{width:1100px;height:100px;background-color: rgb(250, 251, 252);}
.four{height:100px;width:100px;background-color:rgb(250, 251, 252);float:left;}
.five a{float:left;width:100px;color:rgb(7, 7, 7);font-size: 20px;text-decoration: none;margin:50px 5px ;}
.six{width:100px;border: 1px  solid blue;float:left;margin:50px 20px ;background-color: blue;font-size: larger;}
.six a{color: azure;text-decoration: none;padding:20px ;font-family:'Franklin Gothic Medium';}
.five a:hover {color: blue;}
#container3{width:1100px;height:400px;background-image:url(images/img/page-header.jpg);background-size:100%;}
.box301{width:1100px;height:400px;background-color: rgb(8, 103, 245);opacity: 0.8;}
.box302{width:1100px;height:49px;background-color: rgb(8, 103, 245);opacity:0.8;background-image: url(images/img/overlay-bottom.png);background-size: 100%;background-repeat: no-repeat;}
.three1{text-align:center;font-size:100px ;color: white;padding-top: 70px;font-family:arial;font-weight: bolder;}
.three11{text-align:center;font-size:17px ;color: white;}
.three11  i{padding-right: 20px;}
.three11 a{text-align:center;font-size:17px ;color: white;text-decoration: none;padding-right: 20px;}
.four1{padding: 50px;padding-left: 300px;}
.four2{float: left;height: 20px;width: 100px;background-color: white;padding: 15px;color:gray;font-weight: bold;}
.four3 input{float: left;height: 45px;width: 350px;}
.four4{float: left;height:50px;width: 100px;background-color: rgb(203, 53, 53);}
.four4 a{text-decoration:none;color: white;padding:16px;display: block;font-weight: bold;}
.four3 ::placeholder{font-size: 15px;padding-left: 10px;}
.box303{width: 1100px;height: 150px;background-color: white;}
.box1{width: 500px;height: 500px;background-color: white;float: left;background-image:url(images/img/about.jpg);background-size: 100%;}
.box2{width: 560px;height: 480px;background-color: white;float: left;padding:10px 20px;}
.box21{border-bottom:2px dashed rgb(248, 9, 9);width: 100px;padding: 10px 10px;color: rgb(250, 13, 13);font-size: 17px;}
.box22{text-align: justify;font-family: Bold ;color: rgb(10, 3, 3);font-size: 40px;padding: 10px 0px;font-weight: bolder;word-spacing: 0px;}
.box23{text-align: justify;font-family: Times ;color: grey;font-size: 17px;}
.box24{margin-top:60px ;}
.box31{width:100px;background-color: greenyellow;float: left;height: 120px;font-weight:bolder ;font-size: larger;color:white;padding: 20px;}
.box32{width:100px;background-color: rgb(22, 45, 254);float: left;height: 120px;color:white;font-weight:bolder ;font-size: large;padding: 20px;}
.box33{width:100px;background-color: rgb(245, 13, 13);float: left;height: 120px;color:white;font-weight:bolder ;font-size: large;padding: 20px;}
.box34{width:100px;background-color: rgb(244, 163, 2);float: left;height: 120px;color:white;font-weight:bolder ;font-size: large;padding: 20px;}
.box5{width: 700px;background-color:white;float: left;height:800px;}
.box51{border-bottom:2px dashed rgb(248, 9, 9);width:180px;padding: 10px 10px;color: rgb(250, 13, 13);font-size: 20px;padding:10px 20px;}
.box52{text-align: justify;font-family: Bold ;color: rgb(10, 3, 3);font-size:47px;padding: 10px 0px;font-weight: bolder;word-spacing: 0px;padding:10px 20px;}
.box53{text-align: justify;font-family: Times ;color: grey;font-size:18px;padding:10px 20px;}
.box62 p{text-align: justify;color: gray;padding:0px 10px;font-size: 17px;}
.box61 i{font-size:40px;color: white;padding:30px;}
.box62 h1{padding:0px 10px;}
.box61{background-color: rgb(14, 14, 239);width: 100px;height:120px;float: left;margin: 0px 0px;}
.box62{width: 600px;background-color:white;float: left;}
.box63 i{font-size:40px;color: white;padding:30px;}
.box63{background-color: rgb(207, 55, 9);width: 100px;height:120px;float:left;margin:0px 0px;}
.box64{width: 600px;background-color:white;float:right;}
.box64 p{text-align: justify;color: gray;padding:0px 10px;font-size: 17px;}
.box64 h1{padding:0px 10px;}
.box601 i{font-size:40px;color: white;padding:32px;}
.box601{background-color: rgb(248, 213, 12);width: 100px;height:130px;float:left;margin:10px 0px;}
.box602{width: 600px;background-color:white;float:right;}
.box602 p{text-align: justify;color: gray;padding:0px 10px;font-size: 17px;}
.box602 h1{padding:0px 10px;}
.box8{width: 400px;background-color:white;float:left;height:800px;background-image: url(images/img/feature.jpg);background-size: 100%;background-repeat: no-repeat;}
.box9{width: 1100px;background-color:rgb(3, 7, 63);height:100px;float: left;background-image:url(images/img/overlay-top.png);background-repeat:no-repeat;background-size: 100%;}
#container9{width:1100px;height:200px;background-color: rgb(3, 7, 63);float: left;}
.box91{float: left;width:500px;}
.box91 i{font-size:40px;color: white;padding:10px;}
.box91 h1{font-size:40px;color: white;padding:0px;font-family: arial;}
.box91 p{font-size:18px;color: white;padding:10px;color: gray;text-align: justify;}
.box92{float: left;margin:10px 20px;font-family: arial;}
.box92 h1{color: white;padding: 10px;}
.box93 input{width:360px;height:40px;padding: 10px;}
.box93 ::placeholder{text-align:left;padding:20px;font-size: 18px;}
.span{width:60px;height:40px;background-color: aliceblue;float:right;}
.span a{text-decoration: none;display: block;}
.boxnine{width: 1100px;background-color:white;height:100px;float: left;}
#cont10{width: 1100px;background-color:rgb(3, 8, 64);height:330px;float: left;}
.box101{width:320px;height:200px;float: left;}
.box101 h2{padding:24px 0px 10px 40px;color: white;font-family: arial;}
.box101 ul li{color: gray;padding-bottom: 15px;font-family: arial;}
.box101 ul li i{color: gray;}
.box102{width:200px;height:200px;float: left;color: white;padding: 20px;padding-right: 150px;}
.box102 h2{padding-left:20px;}
.box102 a{text-decoration:none;color: gray;}
.box102 a:hover{text-decoration: underline;}
.box102 ul li{color: gray;padding-bottom: 10px;font-family: arial;}
.box103{width:350px;height:200px;float:left;padding:20px;font-family: arial;}
.box103 h2{padding-left:20px;color: white;}
.box103 ul li{color: gray;padding-bottom: 10px;}
ul li .list a i{color: white;font-size:25px;padding-right:10px;padding-top: 10px;}
.box103 a{text-decoration:none;color: gray;}
.box103 a:hover{text-decoration: underline;}
#cont11{width: 1100px;background-color: rgb(8, 21, 62);height: 60px;float: left;border-top: 1px solid gray;}
.box12{float:left;color: gray;font-size: 15px;font-family: arial;padding:20px 10px;}
.box121{float:right;color: gray;font-size: 15px;font-family: arial;padding: 20px 10px;}
#cont11 .box12 .oone {color: white;font-size:16px ;}
#cont11 .box121 .oone {color: white;font-size: 16px;}










